{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>GLC PROJECT</title>
            <meta name="keywords" content="" />
            <meta name="description" content="" />
            <link rel='shortcut icon' href="{% static 'image/favicon.ico' %}">
            {% if debug %}
            <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
            <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/all.min.css' %}"> 
            {% else %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" integrity="sha512-oc9+XSs1H243/FRN9Rw62Fn8EtxjEYWHXRvjS43YtueEewbS6ObfXcJNyohjHqVKFPoXXUxwc+q1K7Dee6vv9g==" crossorigin="anonymous" />            
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
            {% endif %}
        </meta>
        <style>
        .loader-wrapper {
            z-index: 1000000000;
            background-color: #6d7fcc;
        }

        .loader {
            display: inline-block;
            width: 40px;
            height: 40px;
            position: relative;
            border: 4px solid #Fff;
            animation: loader 2s infinite ease;
        }

        .loader-inner {
            vertical-align: top;
            display: inline-block;
            width: 100%;
            background-color: #fff;
            animation: loader-inner 2s infinite ease-in;
        }

        @keyframes loader {
            0% {
                transform: rotate(0deg);
            }
            25% {
                transform: rotate(180deg);
            }
            50% {
                transform: rotate(180deg);
            }
            75% {
                transform: rotate(360deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }

        @keyframes loader-inner {
            0% {
                height: 0%;
            }
            25% {
                height: 0%;
            }
            50% {
                height: 100%;
            }
            75% {
                height: 100%;
            }
            100% {
                height: 0%;
            }
        }

        #mainwrapper{
            background-color: crimson;
        }
        </style>
    </head>
    <body>
        <div id="mainwrapper" class="container-fluid px-0 main-wrapper">    
            <a href="{% url 'schema-swagger-ui' %}" class="font-weight-bold bg-white">API</a>
            <div class="d-flex flex-column justify-content-center min-vh-100 wrapper">
                <div class="container">
                    <div class="row no-gutters justify-content-center overflow-hidden">
                        <transition-group appear mode="out-in" tag="div" class="col-11 col-md-6 col-lg-5 col-xl-4" appear-active-class="animate__animated animate__zoomIn animate__slow" enter-active-class="animate__animated animate__fadeInUp animate__slow animate__delay-1s" leave-active-class="animate__animated animate__fadeOutUp">
                            <div key="forms" class="card shadow border-0 rounded" v-if="form">
                                    <div v-if="signup" class="d-flex justify-content-between align-items-center card-header font-weight-bold text-info">
                                        <p class="mb-0">GLC Sign-up</p>
                                        <button type="button" class="btn btn-danger font-weight-bold" @click="switchform">Login&nbsp;&nbsp;<i class="fas fa-user-circle"></i></button>
                                    </div>
                                    <div v-if="login" class="d-flex justify-content-between align-items-center card-header font-weight-bold text-info">
                                        <p class="mb-0">GLC Log-in</p>
                                        <button type="button" class="btn btn-success font-weight-bold" @click="switchform">Sign-up&nbsp;&nbsp;<i class="fas fa-user-circle"></i></button>
                                    </div>
                                    <transition-group appear mode="out-in" tag="div" class="card-body overflow-hidden" appear-active-class="animate__animated animate__fadeIn animate__delay-2s animate__slow" enter-active-class="animate__animated animate__fadeInRight animate__fast animate__delay-1s" leave-active-class="animate__animated animate__faster animate__fadeOutLeft">
                                        <form key="signinform" class="" v-if="signup" method="POST" @submit.prevent="register($event)">
                                            <div class="form-group" id="email">
                                                <input type="email" name="email" class="form-control rounded-0" aria-describedby="emailHelp" placeholder="Enter email">
                                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                            </div>
                                            <div class="form-group" id="password">
                                                <input type="password" name="password" class="form-control rounded-0" placeholder="Password">
                                            </div>
                                            <div class="form-group" id="password2">
                                                <input type="password" name="password2" class="form-control rounded-0" placeholder="Re-type Password">
                                            </div>
                                            <button type="submit" class="btn btn-primary font-weight-bold float-right">Submit</button>
                                        </form>
                                        <form v-else key="loginform" class="" method="POST" @submit.prevent="loginauth($event)">
                                            <div class="form-group" id="email">
                                                <input type="email" name="email" class="form-control rounded-0" aria-describedby="emailHelp" placeholder="Enter email">
                                            </div>
                                            <div class="form-group" id="password">
                                                <input type="password" name="password" class="form-control rounded-0" placeholder="Password">
                                            </div>
                                            <div class="clearfix">
                                                <button type="submit" class="btn btn-primary float-right font-weight-bold">Submit</button>
                                            </div>
                                        </form>
                                    </transition-group>
                                    <div class="card-footer rounded-bottom bg-dark">
                                        <button @click="googleauth" type="button" class="btn btn-block btn-outline-warning rounded-0 text-white font-weight-bold bg-danger">Log-in with Google <i class="fab fa-google"></i></button>
                                        <button @click="facebookauth" type="button" class="btn btn-block btn-outline-light rounded-0 text-white font-weight-bold bg-primary">Log-in with Facebook <i class="fab fa-facebook-square"></i></button>
                                    </div>
                            </div>
                            <div key="profile" class="card shadow border-0 rounded" v-if="showprofile">
                                <div class="d-flex justify-content-between align-items-center card-header font-weight-bold text-info">
                                    <p class="mb-0">Profile</p>
                                    <button type="button" class="btn btn-danger font-weight-bold" @click="logout">Log-out&nbsp;&nbsp;<i class="fas fa-running"></i></button>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6 mx-auto col-lg-6">
                                            <div class="d-flex justify-content-center overflow-hidden">
                                                <img :src="profile.photo" class="img-fluid mx-auto img-thumbnail animate__animated animate__slideInUp animate__delay-2s" :alt="profile.full_name">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="d-flex flex-column text-info">
                                                <span class="my-2"><i class="fas fa-user"></i>:&nbsp;&nbsp;&nbsp;[[ profile.full_name ]]</span>
                                                <span class="my-2"><i class="fas fa-envelope-square"></i>:&nbsp;&nbsp;&nbsp;[[ profile.email ]]</span>
                                                <span class="my-2"><i class="fas fa-phone-square"></i>:&nbsp;&nbsp;&nbsp;[[ profile.phone_number ]]</span>
                                                <span class="mt-2"><i class="fas fa-calendar-day"></i>:&nbsp;&nbsp;&nbsp;[[ profile.dob ]]</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </transition-group>
                    </div>
                </div>
            </div>

            <transition leave-active-class="animate__animated animate__fadeOutRight animate__slow">
                <div v-if="mainloading" class="loader-wrapper overflow-hidden fixed-top align-items-center justify-content-center vw-100 vh-100" :class="{'d-flex': mainloading}">
                    <span class="loader"><span class="loader-inner"></span></span>
                </div>
            </transition>
        </div>
        {% if debug %}
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/lodash.min.js' %}"></script>
        <script src="{% static 'js/vue.js' %}"></script>
        <script src="{% static 'js/vuex.js' %}"></script>
        {% else %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js" integrity="sha512-90vH1Z83AJY9DmlWa8WkjkV79yfS2n2Oxhsi2dZbIv0nC4E6m5AbH8Nh156kkM7JePmqD6tcZsfad1ueoaovww==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.5.1/vuex.min.js" integrity="sha512-n/iV5SyKXzLRbRczKU75fMgHO0A1DWJSWbK5llLNAqdcoxtUK3NfgfszYpjhvcEqS6nEXwu7gQ5bIkx6z8/lrA==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js"></script>
        {% endif %}
        <script type="text/javascript">
            const mainwrapper = new Vue({
                el: '#mainwrapper',
                delimiters: ['[[', ']]'],
                data() {
                    return {
                        mainloading: true,
                        signup: false,
                        login: true,
                        form: true,
                        showprofile: false,
                        tokenexpired: true,
                        profile: {},
                    }
                },
                filters: {
                },
                watch: {
                },
                computed: {
                },
                created(){
                    this.refreshtokentimer = ""
                },
                mounted(){
                    let temp = this.getParams(window.location.href)
                    if (temp['code'] !== undefined){
                        this.signup = false
                        this.login = false
                        this.loginuser(temp.code)
                    }
                    setTimeout( function(){
                        this.mainloading = false;
                    }.bind(this), 1000)
                },
                methods: {
                    loginauth(e){
                        this.formErrorReset()
                        let endpoint = '/api/auth/login/'
                        let formData = new FormData(e.target)
                        data = {
                            'email': formData.get('email'),
                            'password': formData.get('password')
                        }
                        fetch(endpoint, {
                            method: 'POST',
                            headers: {
                                'X-Requested-With': 'XMLHttpRequest',
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify(data),
                            credentials: 'same-origin',
                        })
                        .then(response => {
                            return response.json()
                        })
                        .then(result => {
                            if(result['errors'] === undefined){
                                this.form = false
                                clearTimeout(this.refreshtokentimer)
                                this.refreshtokentimer
                                this.tokenexpired = false
                                localStorage.setItem("refresh", result.data['refresh'])
                                localStorage.setItem("token", result.data['token'])
                                this.userprofile()
                            }
                            else if(result['errors']['detail'] !== undefined){
                                con = document.querySelector('form')
                                p = document.createElement('P');
                                p.className = "invalid-feedback d-block mb-0";
                                p.innerHTML += "<strong class='d-block'>" + result['errors']['detail'] + "</strong>"
                                con.append(p);
                            }
                            else{
                                this.formErrors(result.errors);
                            }
                        })
                    },
                    refreshtoken(){
                        let endpoint = '/token/refresh/'
                        data = {
                            'refresh': localStorage.getItem("refresh")
                        }
                        return fetch(endpoint, {
                            method: 'POST',
                            headers: {
                                'X-Requested-With': 'XMLHttpRequest',
                                'Content-Type': 'application/json',
                                'X-CSRFToken': '{{ csrf_token }}'
                            },
                            body:  JSON.stringify(data),
                            credentials: 'same-origin',
                        })
                        .then(response => {
                            return response.json()
                        })
                        .then(result => {
                            this.tokenexpired = false
                            localStorage.setItem("token", result['access'])
                            return result['access']
                        })
                    },
                    register(e){
                        this.formErrorReset()
                        let endpoint = '/api/auth/register/'
                        let formData = new FormData(e.target)
                        data = {
                            'email': formData.get('email'),
                            'password': formData.get('password')
                            'password2': formData.get('password2')
                        }
                        fetch(endpoint, {
                            method: 'POST',
                            headers: {
                                'X-Requested-With': 'XMLHttpRequest',
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify(data),
                            credentials: 'same-origin',
                        })
                        .then(response => {
                            return response.json()
                        })
                        .then(result => {
                            if(result['errors'] === undefined){
                                con = document.querySelector('form')
                                p = document.createElement('P');
                                p.className = "text-success d-block mb-0";
                                p.innerHTML += "<strong class='d-block'>registration successful, kindly check your mail for verification.</strong>"
                                con.append(p);
                            }
                            else{
                                this.formErrors(result.errors);
                            }
                        })
                    },
                    formErrors(errors){
                        for (key in errors){
                            name = key
                            try{
                                con = document.getElementById(name)
                                con.querySelector("input").classList.add("is-invalid")
                                for (error in errors[key]){
                                    p = document.createElement('P');
                                    p.id = "error_" + (parseInt(error) + 1) +"_id_" + key;
                                    p.className = "invalid-feedback d-block";
                                    p.innerHTML += "<strong class='d-block'>" + errors[key][error] + "</strong>"
                                    con.append(p);
                                }
                            }
                            catch(error){
                                console.log("")
                            }
                        }
                    },
                    formErrorReset(){
                        form = document.querySelector("form");
                        list = form.querySelectorAll(".invalid-feedback");
                        for (let p=0; p<list.length; p++){
                            list[p].remove();
                        }
                        input = form.querySelectorAll(".is-invalid")
                        for (let p=0; p<input.length; p++){
                            input[p].classList.remove("is-invalid");
                        }
                    },
                    switchform(){
                        this.login = !this.login
                        this.signup = !this.signup
                    },
                    googleauth(){
                        localStorage.setItem("provider", "google-oauth2")
                        {% if debug %}
                        window.location.assign("https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=851741668421-bsjs0sdusr25gp34jfqfeaj92npqgdod.apps.googleusercontent.com&redirect_uri=http://localhost:8000&scope=email")
                        {% else %}
                        window.location.assign("https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=851741668421-bsjs0sdusr25gp34jfqfeaj92npqgdod.apps.googleusercontent.com&redirect_uri=http://glc-project.herokuapp.com&scope=email")
                        {% endif %}
                    },
                    facebookauth(){
                        localStorage.setItem("provider", "facebook")
                        {% if debug %}
                        window.location.assign("https://www.facebook.com/v9.0/dialog/oauth?client_id=252125039689539&redirect_uri=https://127.0.0.1:8000&scope=email")
                        {% else %}
                        window.location.assign("https://www.facebook.com/v9.0/dialog/oauth?client_id=252125039689539&redirect_uri=https://glc-project.herokuapp.com&scope=email")
                        {% endif %}
                    },
                    loginuser(code){
                        let provider = localStorage.getItem("provider")
                        let data = {
                                'provider': provider,
                                'code': code,
                                'redirect_uri': window.location.href.split("?")[0].slice(0, -1)
                            }
                        let endpoint = '/api/auth/login/social/' + provider
                        fetch(endpoint, {
                            method: 'POST',
                            headers: {
                                'X-Requested-With': 'XMLHttpRequest',
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify(data),
                            credentials: 'same-origin',
                        })
                        .then(response => {
                            return response.json()
                        })
                        .then(result => {
                            if(result['errors'] === undefined){
                                this.form = false
                                clearTimeout(this.refreshtokentimer)
                                this.refreshtokentimer
                                this.tokenexpired = false
                                localStorage.setItem("refresh", result['refresh'])
                                localStorage.setItem("token", result['token'])
                                this.userprofile()
                            }
                        })
                    },
                    logout(){
                        data = {
                            'refresh': localStorage.getItem("refresh")
                        }
                        data2 = localStorage.getItem("token")
                        let endpoint = '/api/auth/logout/'
                        fetch(endpoint, {
                            method: 'POST',
                            headers: {
                                'X-Requested-With': 'XMLHttpRequest',
                                'Content-Type': 'application/json',
                                'Authorization': `Bearer ${data2}`
                            },
                            body: JSON.stringify(data)
                        })
                        .then((response)=>{
                            this.showprofile = false
                            this.form = true
                        })
                    },
                    userprofile(){
                        let endpoint = '/api/auth/profile/'
                        if(this.tokenexpired){
                            this.refreshtoken().then(result => {
                                console.log("")
                            })  
                        }
                        data = localStorage.getItem("token")
                        fetch(endpoint, {
                            method: 'GET',
                            headers: {
                                'X-Requested-With': 'XMLHttpRequest',
                                'Content-Type': 'application/json',
                                'Authorization': `Bearer ${data}`, 
                            },
                            credentials: 'same-origin',
                        })
                        .then(response => {
                            return response.json()
                        })
                        .then(result => {
                            this.profile = result.data
                            this.showprofile = true
                        })
                    },
                    getParams(url){
                        var params = {};
                        var parser = document.createElement('a')
                        parser.href = url
                        var query = parser.search.substring(1)
                        var vars = query.split('&')
                        for (var i =0; i < vars.length; i++){
                            var pair = vars[i].split('=');
                            params[pair[0]] = decodeURIComponent(pair[1]);
                        }
                        return params;
                    },               
                },
            });
        </script>
    </body>
</html>
